{#{% for category in categories %}#}
{#    {% if category.id == category_selected %}#}
{#        <li class="active">{{ category.name }}</li>#}
{#    {% else %}#}
{#        <li>#}
{#            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>#}
{#        </li>#}
{#    {% endif %}#}
{#{% endfor %}#}

{% for category in categories %}
    {% if category.id == category_selected %}
        <li class="selected">
{#            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>#}
        {{ category.name }}
        </li>
{#        <li class="active">{{ category.name }}</li>#}
    {% else %}
        <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
        </li>
    {% endif %}
{% endfor %}