{% load good_tags %}
{#Мобильный сайдбар#}
<div class="category-slider">
    <div class="category-slider-track">
        <ul id="slider">
            {% if category_selected == 0 or category_selected is None %}
                <li>
                 <a href="{% url 'catalog' city_slug=city_slug %}" class="active">Все категории</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'catalog' city_slug=city_slug %}">Все категории</a>
                </li>
            {% endif %}
            {% show_categories city_slug=city_slug category_selected=category_selected %}
        </ul>
    </div>
</div>