{% load good_tags %}
{#Мобильный сайдбар#}
<div class="category-slider">
    <div class="category-slider-track">
        <ul>
            {% if category_selected == 0 or category_selected is None %}
                <li><a href="{% url 'catalog' %}" class="active">Все категории</a></li>
            {% else %}
                <li><a href="{% url 'catalog' %}">Все категории</a></li>
            {% endif %}
            {% show_categories category_selected=category_selected %}
        </ul>
    </div>
</div>