{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(98660706, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/98660706" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <title>
        {% block title %}
            {% if seo_title %}
                {{ seo_title }}
            {% else %}
                {{ title }}
            {% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="{% if seo_description %}
{{ seo_description }}{% else %}{{ seo_description }}{% endif %}">
    <meta name="keywords" content="{% if seo_keywords %}{{ seo_keywords }}
{% else %}{{ seo_keywords }}{% endif %}">
 <link rel="preconnect" href="https://mc.yandex.ru">
    <link rel="dns-prefetch" href="https://mc.yandex.ru">
 <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://www.google.com">

    <link type="text/css" href="{% static 'css/styles.css' %}"
          rel="stylesheet">
    <link type="text/css" href="{% static 'css/modal.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/telegram-popup.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/cart.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/popup_cart.css' %}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dividers.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo/logo.svg' %}"
          type="image/x-icon"/>
    <link rel="icon" type="image/png"
          href="{% static 'images/logo/favicon/favicon-96x96.png' %}"
          sizes="96x96"/>
    <link rel="icon" type="image/svg+xml"
          href="{% static 'images/logo/favicon/favicon.svg' %}"/>
    <link rel="shortcut icon"
          href="{% static 'images/logo/favicon/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'images/logo/favicon/apple-touch-icon.png' %}"/>
    <meta name="apple-mobile-web-app-title" content="ТД Ленинградский"/>
    <link rel="manifest"
          href="{% static 'images/logo/favicon/site.webmanifest' %}"/>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="a07f878ab1197b5e"/>
    <meta name="google-site-verification"
          content="ugl6-qohgj-pqxMAJJoCTdnxo6iDmEk0srdaxHF9qbE"/>
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}"/>
    {% block api %}
    {% endblock %}
    <!-- Глобальная переменная для URL 'set_city' -->
    <script>
        window.setCityUrl = "{% url 'set_city' %}";
    </script>

</head>
<body>
<!--Header-->
<div class="wrapper">
    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock header %}
    <!-- Sidebar -->
    {% block sidebar %}
    {% endblock %}
    <!-- Хлебные крошки -->
    {% block breadcrumbs %}
    {% endblock %}
    <!-- Блок контента -->
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock %}
    {% include 'includes/telegram-popup.html' %}
</div>
<!-- Передача данных о городах -->
{{ city_slugs|json_script:'cities-data'|safe }}
{% include 'includes/city_modal.html' %}
<script src="{% static 'js/cityModal.js' %}" defer></script>
<script src="{% static 'js/header/headerPopup.js' %}" defer></script>
<script src="{% static 'js/header/headerNavDisplay.js' %}" defer></script>
<script src="{% static 'js/header/headerCallbackPopup.js' %}" defer></script>
<script src="{% static 'js/header/cityDropdown.js' %}" defer></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LchN2EqAAAAAFEYLgQZmZLrF_czptpdExkUsusM" async></script>
<script src="{% static 'js/telegram-popup.js' %}" defer></script>
<script src="{% static 'js/dividers.js' %}" defer></script>
<script src="{% static 'js/animations.js' %}" defer></script>
<script src="{% static 'js/cart.js' %}" defer></script>
{% block extra_scripts %}
{% endblock %}
{% include 'includes/popup_cart.html' %}
</body>
</html>