{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5P8VKM4F');
    </script>
    <!-- End Google Tag Manager -->
    <title>
        {% block title %}
            {% if seo_title %}
                {{ seo_title }}
            {% else %}
                {{ title }}
            {% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="{% if seo_description %}
{{ seo_description }}{% else %}{{ seo_description }}{% endif %}">
    <meta name="keywords" content="{% if seo_keywords %}{{ seo_keywords }}
{% else %}{{ seo_keywords }}{% endif %}">
    <link type="text/css" href="{% static 'css/styles.css' %}"
          rel="stylesheet">
    <link type="text/css" href="{% static 'css/modal.css' %}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'images/logo/logo.svg' %}"
          type="image/x-icon"/>

    <link rel="icon" type="image/png"
          href="{% static 'images/logo/favicon/favicon-96x96.png' %}"
          sizes="96x96"/>
    <link rel="icon" type="image/svg+xml"
          href="{% static 'images/logo/favicon/favicon.svg' %}"/>
    <link rel="shortcut icon"
          href="{% static 'images/logo/favicon/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'images/logo/favicon/apple-touch-icon.png' %}"/>
    <meta name="apple-mobile-web-app-title" content="ТД Ленинградский"/>
    <link rel="manifest"
          href="{% static 'images/logo/favicon/site.webmanifest' %}"/>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="a07f878ab1197b5e"/>
    <meta name="google-site-verification"
          content="ugl6-qohgj-pqxMAJJoCTdnxo6iDmEk0srdaxHF9qbE"/>
    <!-- Канонический тег -->
{#    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>#}
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" />
    {% block api %}
    {% endblock %}
    <!-- Глобальная переменная для URL 'set_city' -->
    <script>
        window.setCityUrl = "{% url 'set_city' %}";
    </script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P8VKM4F"
            height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!--Header-->
<div class="wrapper">
    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock header %}
    <!-- Sidebar -->
    {% block sidebar %}
    {% endblock %}
    <!-- Хлебные крошки -->
    {% block breadcrumbs %}
    {% endblock %}
    <!-- Блок контента -->
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock %}
</div>
<!-- Передача данных о городах -->
{{ city_slugs|json_script:'cities-data'|safe }}
{% include 'includes/city_modal.html' %}
<script src="{% static 'js/cityModal.js' %}"></script>
<script src="{% static 'js/header/headerPopup.js' %}"></script>
<script src="{% static 'js/header/headerNavDisplay.js' %}"></script>
<script src="{% static 'js/header/headerCallbackPopup.js' %}"></script>
<script src="{% static 'js/header/cityDropdown.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LchN2EqAAAAAFEYLgQZmZLrF_czptpdExkUsusM"></script>
{% block extra_scripts %}
{% endblock %}
</body>
</html>