{% extends "base.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <p>
        ТД Ленинградский – это ведущий поставщик бетона и нерудных
        материалов, работающий на рынке более 10 лет. Мы предлагаем
        комплексные решения для строительства любых масштабов: от частных
        домов до крупных инфраструктурных объектов. Наша цель –
        предоставлять только качественные материалы и услуги, которые
        соответствуют самым высоким стандартам.
    </p>

    <p>
        Мы верим, что строительство должно быть надежным и долговечным. Наша
        миссия – обеспечивать строительные компании и частных клиентов
        материалами высочайшего качества для создания прочных и безопасных
        объектов. Каждый наш проект – это вклад в развитие инфраструктуры
        региона и комфорт его жителей.
    </p>

    <p>
        Наша компания начала свою деятельность в 2014 году с небольшого
        производства бетонных смесей. Постепенно расширяя ассортимент и
        улучшая производственные мощности, мы завоевали доверие клиентов и
        стали лидером на рынке строительных материалов. Сегодня ТД
        Ленинградский – это:</p>
    <ul>
        <li>Современные заводы по производству бетона и нерудных материалов.
        <li>Собственная автотехника для оперативной доставки.
        <li>Команда профессионалов с многолетним опытом.
    </ul>

    <p>
        Мы руководствуемся рядом ключевых принципов, которые помогают нам
        добиваться успеха и поддерживать доверие клиентов:
    </p>
    <ul>
        <li>Качество: Мы контролируем каждый этап производства и доставки,
            чтобы гарантировать высший уровень продукции.
        <li>Надежность: Соблюдаем все сроки и обязательства перед нашими
            клиентами.
        <li>Открытость: Мы всегда готовы проконсультировать по любым
            вопросам и помочь в выборе материалов.
        <li>Ответственность: Внимательно относимся к экологии и соблюдаем все
            необходимые нормы безопасности.
    </ul>
    <p>
        Почему выбирают нас
    </p>
    <ul>
        <li>Широкий ассортимент: В наличии все виды бетона, щебня, песка, а
            также
            других строительных материалов.
        <li>Современные технологии: Мы используем только передовые методы
            производства, что позволяет получать качественные и долговечные
            материалы.
        <li>Гарантия качества: Все материалы сертифицированы и соответствуют
            ГОСТ.
        <li>Оперативная доставка: Собственный автопарк позволяет доставлять
            продукцию точно в срок, независимо от объемов заказа.
        <li>Индивидуальный подход: Мы готовы предложить выгодные условия
            сотрудничества для каждого клиента, будь то частное лицо или
            крупная строительная компания.
    </ul>

    <p>
        Наша команда – это профессионалы с многолетним опытом работы в
        строительной отрасли. Мы постоянно обучаемся, следим за новейшими
        технологиями и внедряем их в производство. Главная наша цель –
        удовлетворение потребностей клиента на каждом этапе сотрудничества.
    </p>

    <p>
        Свяжитесь с нами для получения консультации или оформления заказа:
    </p>
    <ul>
        <li>Телефон: <a href="tel:+79495632670">+7 (949)563-26-70</a>
        <li>Электронная почта: <a href="mailto:info@tdleningrad.ru">info@tdleningrad.ru</a>
        </li>
        <li>Адрес: Мариуполь, Сортировочная 1
    </ul>
{% endblock %}