{% extends "base.html" %}
{% load static %}
{% block api %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=6ba57de0-e39c-4584-a7a8-c7f703d5a333"
            type="text/javascript"></script>
    <script src="{% static 'js/deliveryCalculator.js' %}"
            type="text/javascript"></script>
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="delivery__about">
        <h1>Оперативная доставка бетона и нерудных материалов</h1>
        <p>Компания ТД Ленинградский предлагает быструю и надежную доставку
            бетона, щебня, песка и других нерудных материалов по региону.
            Мы гарантируем, что ваш заказ будет доставлен точно в срок, с
            соблюдением всех
            стандартов безопасности и качества.</p>
    </div>
    <div class="delivery__price--bill" id="delivery-price">
        <div class="map">
            <div id="map">
            </div>
        </div>
        <div class="delivery--price--text--for--costumers">
            <p id="delivery-cost">
                Стоимость доставки будет рассчитана после построения маршрута.
                Обращаем Ваше внимание, что стоимость доставки в калькуляторе
                является ориентировочной. Для точного расчета доставки
                необходимо обратиться к менеджеру по телефону: <a
                    href="tel:+79495632670">+7 (949)563-26-70</a>
            </p>
        </div>
    </div>
{% endblock %}