{% extends "base.html" %}
{% load static %}
{% block api %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=6ba57de0-e39c-4584-a7a8-c7f703d5a333"
            type="text/javascript"></script>
    <script src="{% static 'js/deliveryCalculator.js' %}"
            type="text/javascript"></script>
{% endblock %}
{% block content %}
    <h1>Доставка бетона миксером по выгодной цене</h1>
    <div class="delivery__about">
        <p>
            Компания ТД Ленинградский предлагает качественный бетон с доставкой по выгодной цене!<br>
            Наши услуги включают доставку бетона миксером прямо к вашему объекту, обеспечивая своевременную доставку и качество материалов.
        </p>
        <h2>Как заказать бетон с доставкой?</h2>
        <ol>
            <li>Рассчитайте стоимость доставки: Используйте встроенную функцию на карте, чтобы определить стоимость доставки бетона миксером до вашего объекта.</li>
            <li>Выберите тип бетона: Ознакомьтесь с нашими видами бетона и выберите подходящий для вашего проекта.</li>
            <li>Оформите заказ: Заполните форму заказа на сайте или свяжитесь с нашим менеджером по телефону.</li>
            <li>Доставка и подача: Наш миксер бетона прибудет в указанное время и обеспечит качественную подачу смеси.</li>
        </ol>
    </div>

    <!-- Новая форма для ввода объема бетона -->
    <div class="delivery__calculator">
        <h3>Рассчитайте стоимость доставки бетона:</h3>
        <ol>
            <li>Укажите интересующий объем бетона (м³)</li>
            <li>Укажите точку доставки на карте</li>
        </ol>
        <form id="delivery-form">
            <div class="form-group">
                <label for="volume">Объем бетона (м³):</label>
                <input type="number" id="volume" name="volume" min="1" required placeholder="Введите объем в м³">
            </div>
        </form>

    <!-- Конец новой формы -->

    <div class="delivery__price--bill" id="delivery-price">
        <div class="map">
            <div id="map">
            </div>
        </div>
        <div class="delivery--price--text--for--costumers">
            <p id="delivery-cost">
                Стоимость доставки будет рассчитана после построения маршрута.
                Обращаем Ваше внимание, что стоимость доставки в калькуляторе
                является ориентировочной. Для точного расчета доставки
                необходимо обратиться к менеджеру по телефону: <a
                    href="tel:+79496242644">+7 (949) 624-2644</a>
            </p>
        </div>
    </div>
    </div>
{% endblock %}